WHATSAPP_ACCESS_TOKEN=your_whatsapp_access_token
WHATSAPP_PHONE_NUMBER_ID=your_phone_number_id
WHATSAPP_API_VERSION=v25.0
WHATSAPP_TEMPLATE_NAME=july_2026_intake_followup
WHATSAPP_TEMPLATE_LANGUAGE=en_US

GOOGLE_SERVICE_ACCOUNT_FILE=credentials.json
GOOGLE_SHEET_NAME=Lead _ SW Testing July 2026 Intake
GOOGLE_WORKSHEET_NAME=Sheet1

WHATSAPP_SQLITE_PATH=whatsapp_bot.db
OUTREACH_MESSAGE=Hi {full_name}, we help professionals improve their software testing skills. Would you be open to a quick chat?
